@font-face {
    font-family: 'TR Nasalization';
    src: local('TR Nasalization'), url(./fonts/nasalization-rg.ttf) format('ttf');
  }
.nav ul {
  /* margin: 150px auto 0;  */
  /* padding: 0; */
  list-style: none;
  /* display: table; */
  /* width: 600px; */
  text-align: center;
}
.nav li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 0px;
  position: relative;
}
.nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #44d62c;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav a:hover {
  color: #44d62c;
}
.nav a:hover:after {
  width: 75%;
  left: 14%;
}
